// bloc zoom
#accueil .bloc-document .zoom {
}
#accueil .bloc-document .zoom .img img {
    height: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0  !important;
    margin-top: 0  !important;
}
#accueil .bloc-document .zoom .texte {
    bottom: 0  !important;
    text-align: right  !important;
    left: 0 !important;
    padding: 0.5em;
    top: initial !important;
    right: initial !important;
}
#accueil .bloc-document .zoom .description {
    display: none !important;
}
// Agenda
.agenda .results ul .bloc-item h3,
.agenda .results ul .bloc-item .description {
    margin-left: 0;
}
.agenda .results ul .bloc-item h3{
    margin-top: calc(@size-day-month + 40px);
}
