//HOMEPAGE
#nav-wrapper {
    display: none;
}
#accueil {
    display: flex;
    flex-flow: row wrap;
}
#accueil > div {
    flex: 1 1 auto;
}
#cpskin-slogan-titre{
    display: block;
}
.bloc-2,
.bloc-3{
    flex: 1 2 auto !important;
    max-width: 50%;
}
.homepage-titre-rss {
    margin-bottom: 1em;
}
h2 a {
    font-family: Open Sans;
    color: @black !important;
}
.homepage-results .homepage-standard-results{
    margin-left: 0 !important;
}
.homepage-bloc-item {
    list-style: none;
    margin-bottom: 1.5em !important;
    position: relative;
}
.bloc-2 .homepage-bloc-item {
    padding-left: 30px;
}
.homepage-bloc-item-title h3{
    color: @theme !important;
    font-weight: 600;
}
.homepage-bloc-item-title,
.homepage-bloc-item-more {
    display: inline-block;
}
.homepage-bloc-item-title{
    width: 70%;
}
.homepage-bloc-item-more {
    background-color: #000000 !important;
    font-weight: 400;
    font-size: 0.8em;
    width: auto;
    text-align: center;
}
.homepage-bloc-item-more a{
    padding: 0.1em 1em;
    color: #ffffff !important;
}
.homepage-bloc-item-description {
    font-family: Abel;
}
.bloc-2 .homepage-bloc-item::before {
    content: "\e848";
    font-family: fontello;
    background-color: #000000;
    height: 20px;
    width: 20px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 8px;
}
.slider_multiple_link{
    color: #000 !important;
}
#portal-personaltools-wrapper,
#portal-siteactions{
    display: inline-block;
    font-size: 100%;
}
#portal-personaltools-wrapper{
    float: right;
}
#top-banner::before {
    content: "";
    display: block;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}
#top-banner {
    position: relative;
    z-index: 1;
}
#top-banner #top-description {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    color: #000;
    display: block !important;
}
#top-slogan-inner #cpskin-slogan-titre,
#top-banner #cpskin-slogan-titre,
#top-banner #cpskin-slogan-description{
    display: none;
}
.main-homepage #top-banner #cpskin-slogan-titre {
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}
.main-homepage #top-banner #cpskin-slogan-titre::after {
    content: "";
    display: block;
    border-bottom: 2px solid #000000;
    width: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}
.main-homepage #top-banner #cpskin-slogan-description {
    display: block;
    font-size: 1em;
    margin-top: 3em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#top-logo-slogan-actions-inner,
#nav-wrapper,
#portal-breadcrumbs,
#portal-columns,
#portal-footer-wrapper{
    z-index: 2;
    position: relative;
}
#content #flex #carousel-index.flexslider a,
#content #flex #carousel-index.flexslider #content #flex a:hover,
#content #flex #carousel-index.flexslider a:link {
    color: #000 !important;
}
.slider-carousel::after{
    display: none;
}
.slider-multiple{
    position: relative;
}
.slider-multiple::after {
    content: "";
    position: absolute;
    top: -3em;
    bottom: 0;
    background: #f2f2f2;
    width: 300%;
    left: -100%;
    z-index: -1;
    height: 104%;
}
// PROJECTS
#content .timeline {
    margin: 4em 0;
}
#content .timeline-line {
  padding-left: 0;
  display: flex;
}
#content .timeline-line li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
#content .timeline-line li {
  flex: 1 0 auto;
  flex-flow: row wrap;
}
#content .timeline-line .step {
    background-color: @theme;
    width: 2em;
    height: 2em;
    padding: 0.5em;
}
#content .timeline-line .step > div {
    z-index: 2;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 80%;
    line-height: 1.2em;
}
#content .timeline-line li::before,
#content .timeline-line li::after {
    content: "";
    flex: 1;
    display: block;
}
#content .timeline-line li:first-child::after,
#content .timeline-line li+li::before,
#content .timeline-line li+li::after {
    border-bottom: 2px solid @theme;
}
#content .timeline-line li:last-child::after {
    border-bottom: 2px solid transparent;
}
#content .timeline-line .current ~ li {
    opacity: 0.3;
}
#content .timeline-line .current::after,
#content .timeline-line .current ~ li::before,
#content .timeline-line .current ~ li::after {
    border-bottom-style: dotted;
}
#content .timeline-line .current::after{
    margin-right: -2px;
    opacity: 0.3;
}
#content .timeline-text {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}
#content .timeline-text li {
    width: 20%;
    text-align: center;
    margin: 0 1em;
}
#content .timeline-text li div{
    margin-top: 1em;
    font-size: 80%;
}
#content .timeline-text li.current div{
    border-bottom: 4px solid @theme;
    padding-bottom: 0.5em;
}
.portaltype-project #content label {
    font-weight: normal;
    font-size: 1.2em;
    color: @theme;
}
.portaltype-project #content .field {
    margin-bottom: 3em;
}
.portaltype-project #content #slider {
    width:100%;
    margin-bottom: 0.5em;
}
.portaltype-project #content #slider .img{
    width:100%;
    height: 200px;
    border: 2px solid red;
}



// SLIDER
// MAXIMUM 5 IMAGES car la 6ème doit être identique à la première =>6
// Animatio start
@max-slide: 6;
@slide_width: 100%;
@slide_height: 200px;

@-webkit-keyframes animation_1 {.frames_1();}
@-moz-keyframes animation_1 {.frames_1();}
@-ms-keyframes animation_1 {.frames_1();}
@-o-keyframes animation_1 {.frames_1();}
@keyframes animation_1 {.frames_1();}
.frames_1() {
    0% {right: 0%}
    100% {right: 0%;}
}
@-webkit-keyframes animation_2 {.frames_2();}
@-moz-keyframes animation_2 {.frames_2();}
@-ms-keyframes animation_2 {.frames_2();}
@-o-keyframes animation_2 {.frames_2();}
@keyframes animation_2 {.frames_2();}
.frames_2() {
    0% {right: 0%}
    45% {right: 0%}
    50% {right: 100%}
    95% {right: 100%}
    100% {right: 200%;}
}
@-webkit-keyframes animation_3 {.frames_3();}
@-moz-keyframes animation_3 {.frames_3();}
@-ms-keyframes animation_3 {.frames_3();}
@-o-keyframes animation_3 {.frames_3();}
@keyframes animation_3 {.frames_3();}
.frames_3() {
    0% {right: 0%}
    28% {right: 0%}
    33% {right: 100%}
    61% {right: 100%}
    66% {right: 200%}
    95% {right: 200%}
    100% {right: 300%;}
}
@-webkit-keyframes animation_4 {.frames_4();}
@-moz-keyframes animation_4 {.frames_4();}
@-ms-keyframes animation_4 {.frames_4();}
@-o-keyframes animation_4 {.frames_4();}
@keyframes animation_4 {.frames_4();}
.frames_4() {
    0% {right: 0%}
    20% {right: 0%}
    25% {right: 100%}
    45% {right: 100%}
    50% {right: 200%}
    70% {right: 200%}
    75% {right: 300%}
    95% {right: 300%}
    100% {right: 400%;}
}
@-webkit-keyframes animation_5 {.frames_5();}
@-moz-keyframes animation_5 {.frames_5();}
@-ms-keyframes animation_5 {.frames_5();}
@-o-keyframes animation_5 {.frames_5();}
@keyframes animation_5 {.frames_5();}
.frames_5() {
    0% {right: 0%}
    15% {right: 0%}
    20% {right: 100%}
    35% {right: 100%}
    40% {right: 200%}
    55% {right: 200%}
    60% {right: 300%}
    75% {right: 300%}
    80% {right: 400%;}
    95% {right: 400%;}
    100% {right: 500%;}
}
.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    -o-animation: @arguments;
    animation: @arguments;
}
// Animation end

[id^="button_"]{
    display: none !important;
}
.button a{
    height: 15px;
    width: 15px;
    border: 1px solid @theme !important;
    border-radius: 50px;
    display: inline-block;
    margin-top: 1em;
}
.button a:hover{
    background: @theme !important;
}
.button,
.pagination,
#start,
#stop{
    display: inline !important;
}
.slider_content {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.position-slide(@index) when (@index > 0) {
    .slider_content #slider_images.elements_@{index}{
        margin-bottom: 0 !important;
        position: relative;
        width: @slide_width;
        height: @slide_height;
        z-index: 1;
        .animation(animation_@{index} 10s linear infinite);
        transition: left 2s;
    }

    .slider_content #slider_images #slide_@{index} {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        left: (@index * 100%) - 100%;
    }

    #button_@{index}{
        &:target {
            & ~ #index::after {
                content: "@{index}";
            }
            & ~ #slider_images{
                -webkit-animation-play-state: paused;
                -moz-animation-play-state: paused;
                animation-play-state: paused;
                left: -((@index * 100%) - 100%);
                transition: left 1s;
            }
        }
    }
    .position-slide(@index - 1);
}
.position-slide(@max-slide);
#stop a::before{
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8) !important;
    display: block;
    position: absolute;
    top: 1em;
    z-index: 3;
    content: "";
    right: 4em;
}
#start a::before{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 1em;
    z-index: 3;
    content: "play";
    right: 1em;
}
#button_stop:target{
    & ~ #slider_images{
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        animation-play-state: paused;
    }
}
#button_stop:target,
#button_start:target {
    background: red;
    & ~ .sl_command{
        background-image: none !important;
    }
    & ~ #index::after,
    & ~ #counter::after{
        display: none;
    }
}
// PAGINATION
#slider_images{
    counter-reset: Counter;
    & .slide{
        counter-increment: Counter;
    }
    @Counter : counter(Counter);
    & ~ #counter::after{
        content: "/ " @Counter;
    }
}
//VIEW FACETED PROJECT
.width-full .faceted-projects-ungrouped-view .event-entry {
    width: calc((100% - 4%) / 3);
}
.width-full .faceted-projects-ungrouped-view .event-entry:nth-child(3n) {
    margin-right: 0;
}
.faceted-projects-ungrouped-view .pageleadImage {
    border-bottom: 1.5em solid @theme;
    padding-bottom: 66%;
}
.faceted-projects-ungrouped-view .pagecaption{
    border: 1px solid #f2f2f2;
    border-top: none;
    box-sizing: border-box;
    padding: 0.5em;
}
.faceted-projects-ungrouped-view .pagecaption h3{
    font-family: open sans;
    font-size: 1em;
    font-weight: normal;
}
#content .faceted-sorting-widget .widget-fieldset {
    margin-top: 1.5em;
}
#visual-portal-wrapper #faceted-form .faceted-sorting-widget form {
    flex-flow: column;
}
#content .faceted-sorting-widget select{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #ffffff !important;
    height: 35px;
    border: none !important;
    line-height: 35px;
    color: gray;
    padding: 0.2em 1em;
    font-size: 0.9em;
}
