//HOMEPAGE
//projects and steps
#accueil .bloc-2,
#accueil .bloc-3{
    clear: none;
    float: left;
    width: 50%;
}
.bloc-2 .titre-rss,
.bloc-2 .results,
.bloc-3 .titre-rss,
.bloc-3 .results{
    background-color: transparent;
}
.width-full .bloc-2 .bloc-item,
.width-full .bloc-3 .bloc-item {
    width: 100%;
}
.bloc-2  .bloc-item,
.bloc-3  .bloc-item {
    min-height: auto;
}