h1, h2, h3, h4, h5, h6, #portal-globalnav li a {
    font-family: abel;
}
#portal-header {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    z-index: inherit;
}
.main-homepage #portal-top{
    position: relative;
}
.main-homepage #portal-top::after {
    background: @slider-background;
    content: "";
    display: block;
    height: calc(139%);
    position: absolute;
    top: 100%;
    width: calc(100%);
}
#top-banner img.banner {
    max-width: 100%;
    width: 100%;
}
#top-logo-slogan-actions {
    color: @front;
    top:0;
    width: 100%;
    z-index: 2;
}
#top-logo-slogan-actions-inner {
    background-color: @background;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}
#top-logo-slogan {
    display: flex;
    flex-flow: row nowrap;
}
#top-logo {
    margin-left: 1em;
     margin-top:-1em;
    position: relative;
    width: @width-logo;
    z-index: 1;
}
#top-logo-inner {
    background-color: @front;
    box-shadow: 1px 4px 7px #bcbcbc;
    height: 150px;
    position: absolute;
    width: @width-logo;
}
.main-homepage #top-logo-inner{
    box-shadow: 0px 0px 0px;
}
#portal-logo{
    margin:0;
}
#top-slogan {
    margin-left: 1em;
}
#cpskin-slogan-titre {
    display: none;
}
#top-slogan-inner h1 {
    color: @front;
    font-size: 1em;
    margin-bottom: 0px;
    text-transform: uppercase;
}
#top-actions {
    background-color: transparent;
    flex: 1 1 0;
}
#portal-languageselector{
    background: transparent;
    max-width: 100%;
}
#top-actions-inner .currentLanguage a{
    color: #d7004e;
}
#top-actions-inner #portal-languageselector a {
    text-transform: uppercase;
}
.main-homepage #nav-wrapper {
    background-color: @nav-opaticy;
    left: 50%;
    margin: 0 auto 0 calc(-600px);
    position: absolute;
    top: 40%;
    width: @width-content;
}
#nav-wrapper{
    background: #fff;
    margin-right: auto;
    margin-top:0;
}
#navWrapper {
    background-color: transparent !important;
}
.main-homepage #portal-breadcrumbs{
    margin-left: auto;
}
#portal-breadcrumbs {
    margin-left: calc(183px);
    margin-right: auto;
    margin-top:1em;
    width: @width-content;
}
.main-homepage #portal-globalnav{
    margin-left: 0;
}
#portal-globalnav {
    align-items: center;
    background-color: transparent;
    display: inline-block;
    justify-content: space-around;
    margin-left: calc(183px);
    padding: 4em 2.5em;
    max-width: 100%;
}
#portal-globalnav li:hover,
#portal-globalnav li.menu-activated,
#portal-globalnav li:hover.selected,
#portal-globalnav li.selected.menu-activated{
    background: @theme;
}
#portal-globalnav li {
    display: inline-block;
    margin-right: 2%;
    min-height: calc(85px);
    position: relative;
    vertical-align: top;
    width: calc(33.3333% - 2% - 1px);
}
.main-homepage #portal-globalnav li a,
#portal-globalnav li a:hover {
    color:@front;
}
#portal-globalnav a::after,
.sf-with-ul::after{
    content: "\00a0 \00a0 \e848";
    font-family: "fontello";
}
#portal-globalnav li a {
    background-color: transparent;
    box-sizing: border-box;
    color:@black;
    display: inline-block;
    text-transform: uppercase;
    padding:1.8% 0 0.8% 25%;
    position: relative;
    width: 100%;
}
#portal-globalnav li:hover a,
#portal-globalnav li.menu-activated a,
#portal-globalnav li:hover.selected a,
#portal-globalnav .selected a:hover{
    color: @front;
}
#portal-globalnav li.selected,
#portal-globalnav .selected a:hover{
    background: transparent;
}
#portal-globalnav a:hover,
#portal-globalnav .activated,
#portal-globalnav li a.activated,
#portal-globalnav li.selected.menu-activated a,
#portal-globalnav li.selected a{
    background-color: transparent;
    color: @front;
}
#portal-globalnav li.selected a{
    background: transparent;
    color: #000;
}
#portal-globalnav .portal-tab-description::after{
    display: none;
}
#portal-globalnav .portal-tab-description {
    font-size: 80%;
    padding-top:0;
    padding-right: 1em;
    text-transform: lowercase;
}
#portal-globalnav #portaltab-index_html {
    display: none;
    position: relative;
}
#portal-globalnav #portaltab-index_html a {
    background: @nav-transparent;
    color: transparent;
    width: 100%;
}
.theme1 a::before {
    content: url("/images-spirit/communal.png");
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
}
.theme2 a::before {
    content: url("/images-spirit/vivre.png");
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
}
.theme3 a::before {
    content: url("/images-spirit/decouvrir.png");
    display: block;
    position: absolute;
    left:0;
    z-index: 1;
}
.theme1::after,
.theme2::after{
    border-right: 1px solid #fff;
    content: "\00a0";
    float: right;
    height: 4.2em;
    position: absolute;
    right: -3%;
    width: 1px;
}
.theme1,
.theme2,
.theme3{
    font-size: 130%;
}
.theme1 a.portal-tab-description::before,
.theme2 a.portal-tab-description::before,
.theme3 a.portal-tab-description::before{
    display: none;
}
.theme1.selected,
.theme2.selected,
.theme3.selected{
    background: @theme;
}
#portal-globalnav .selected a{
    text-decoration: none;
}
#cpskin-slogan-description{
    font-size: 130%;
}
/*   sub menu   */
.portal-globalnav-cpskinmenu a:hover,
.portal-globalnav-cpskinmenu-tabs a:hover,
.portal-globalnav-cpskinmenu .sfHover > span > a{
    background: @theme;
    color:@front !important;
    border-radius: 0;
}
#nav-wrapper ul.navTreeLevel0 {
    background: @nav-background;
    border-top: 0.5em solid @theme;
    left: 215px;
    margin-top: -3.2em;
    max-width: calc(100% - 17.8%);
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
}
.main-homepage #nav-wrapper ul.navTreeLevel0{
    left: 0;
    max-width: 100%;
}
ul.navTreeLevel1 li a{
    color: @black;
}
ul.navTreeLevel1{
    max-width: 100%;
    text-transform: lowercase;
}
ul.navTreeLevel0 li.sfHover a{
    color: #333;
}
.sf-menu ul.navTreeLevel1,
.sf-menu ul.navTreeLevel2,
.sf-menu ul.navTreeLevel3{
    background: @nav-background;
    border-top: 0.1em solid #ebebeb !important;
}
.sf-menu ul.direct_access{
    background: @nav-background !important;
}
.sf-menu .direct_access li a::before{
    content: "\e84a";
    color:@theme;
}
.sf-menu .direct_access li a:hover::before{
    color:@front;
}
/*   top-actions   */
#top-actions-actions > div,
.top-menu-action{
    display: inline-block;
    vertical-align: top;
}
#social-viewlet,
#portal-personaltools-wrapper,
#portal-siteactions,
#portal-personaltools{
    float: none;
}

#search-wrapper {
    position: absolute;
    right: 0;
    top: 150px;
    z-index: 1;
}
#hidden-search{
    float: left;
    margin-top: -1.3em;
}
.LSBox #searchGadget{
    height: 3.5em;
}
#btn-search{
    float: right;
}
.btn-search::before {
    content: "\e828";
    font-family: "fontello";
    font-size: 125%;
}
a.btn-search {
    background: @nav-opaticy;
    color: #fff;
    padding: 1.5em;
}
#portal-searchbox{
    margin: 0;
    position: relative;
    float: none;
    right: 0;
    top:0;
}
.portal-search-hidden,
.portal-search-hidden .LSBox #searchGadget{
    width: 0;
    overflow: hidden;
}
.portal-search-visible{
    overflow: visible;
    width: 80%;
    transition: 1s ease;
}
.portal-search-visible .LSBox #searchGadget{
    overflow: visible;
    transition: 1s ease;
}
.LSBox::after {
    content: "\e83c";
}
.LSBox input[type="text"]{
    background: #fff;
}
#portal-personaltools{
    font-size: 100%;
}
dl.actionMenu.activated dt a{
    margin:0 0.25em;
}
.top-menu-action dd a {
    line-height: 2em;
    padding: 0 0.75em;
    &:hover{background: lighten(@background,20%)}
}
.top-menu-action dd{
    background: @background;
    margin-right: 2em;
    margin-top: 3px;
    padding: 0.5em;
}
#portal-columns {
    margin-left: auto;
    margin-right: auto;
    max-width: @width-content;
    z-index: 1;
}
.main-homepage #portal-columns{
    top: -13em;
}
.main-homepage  #content {
    margin: 0 auto;
}
//Bloc zoom par défaut
#accueil .bloc-document .zoom {
    float: left;
    position: relative;
    width: 50%;
}
#accueil .bloc-document .bloc {
    overflow: hidden;
    position: relative;
}
#accueil .bloc-document .zoom .img img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}
#accueil .bloc-document .zoom:first-child .bloc:first-child .img img {
    margin-top: 25%;
}
#accueil .bloc-document .zoom:first-child .bloc:nth-child(2) .img img {
    height: 50%;
    margin-left: 50%;
    max-width: 50%;
    width: 50%;
}
#accueil .bloc-document .zoom:nth-child(2) .bloc:first-child .img img {
    height: 50%;
    max-width: 50%;
    width: 50%;
}
#accueil .bloc-document .zoom .texte {
    color: #fff;
    padding: 3em;
    position: absolute;
}
#accueil .bloc-document .zoom:first-child .bloc:first-child .texte {
    margin-top: -100%;
}
#accueil .bloc-document .zoom:first-child .bloc:nth-child(2) .texte {
    bottom: 0;
    left: 50%;
}
#accueil .bloc-document .zoom:nth-child(2) .bloc:first-child .texte {
    bottom: 0;
}
#accueil .bloc-document .zoom:nth-child(2) .bloc:nth-child(2) .texte {
    right: 0;
    text-align: right;
    bottom: 0;
}
/* bloc zoom-2 */
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:first-child .img img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:nth-child(2) .img img {
    height: 50%;
    max-width: 50%;
    width: 50%;
}
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:first-child .texte {
    right: 0;
    text-align: right;
    top: 0;
}
#accueil .bloc-document.zoom-2 .zoom:first-child .bloc:first-child .texte {
    bottom: 0;
}
#accueil .bloc-document.zoom-2 .zoom:first-child .bloc:nth-child(2) .texte {
    text-align: right;
    right: 0;
}
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:nth-child(2) .texte {
    text-align: right;
    right: 50%;
}
#accueil .bloc-document.zoom-2 .zoom .description {
    display: none !important;
}

.zoom-1::after {
    background: @slider-background;
    content: "";
    display: block;
    height: calc(50%);
    left: -50%;
    position: absolute;
    top: 36%;
    width: calc(200%);
    z-index: -1;
}
.zoom-1,
.zoom-2{
    display: inline-block;
    margin: 5em 0 0;
    position: relative;
    width: 100%;
}
/* slider multiple */
.slider-multiple #slider-actualites {
    display: none;
}
.slider-multiple .carousel.flexslider {
    background: @slider-background;
    padding-bottom: 50px;
}
.slider-multiple .carousel.flexslider ul > li {
    background: #fff;
    color: #000;
}
.slider-multiple .carousel.flexslider ul > li > a {
    max-height: 200px;
    overflow: hidden;
}
#content #flex .flexslider a,
#content #flex .flexslider #content #flex a:hover,
#content #flex .flexslider a:link {
    color: #000 !important;
}
.slider-multiple .carousel.flexslider .flex-caption {
    margin-bottom: 2em;
}
.slider-multiple .carousel.flexslider ul > li .publication-date {
    padding: 0.5em;
}
.slider-multiple .carousel.flexslider ul > li .flex-caption > h2 {
    font-size: 1em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.slider-multiple .carousel.flexslider ul > li .read-next-link {
    display: none;
}
.slider-multiple .carousel.flexslider .flex-direction-nav,
.slider-carousel .flex-direction-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.slider-multiple .carousel.flexslider .flex-direction-nav li,
.slider-carousel .flex-direction-nav li{
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-right: 0;
    overflow: hidden;
}
.slider-multiple .carousel.flexslider .flex-direction-nav li{
    background: #000000 !important;
    margin-top: 1em;
}
.slider-carousel .flex-direction-nav li{
    background: @theme !important;
    margin-top: -3.75em;
    z-index:1;
}
.slider-multiple .carousel.flexslider .flex-direction-nav a,
.slider-carousel .flex-direction-nav a{
    display: block;
    overflow: visible;
    margin: 0;
}
.slider-multiple .carousel.flexslider .flex-direction-nav li a,
.slider-carousel .flex-direction-nav li a{
    color: transparent !important;
    padding-top: 5px !important;
}
.slider-multiple .carousel.flexslider .flex-direction-nav a,
.slider-carousel .flex-direction-nav a{
    opacity: 1;
    position: relative;
    transition: none;
    right: 0;
    left: 0;
    top: 0;
}
.slider-multiple .carousel.flexslider .flex-direction-nav a::before,
.slider-carousel .flex-direction-nav a::before {
    color: #fff;
    height: 60px !important;
    margin-top: 15px;
    font-size: 18px;
}
.slider-multiple .carousel.flexslider .flex-direction-nav .flex-disabled,
.slider-carousel .flex-direction-nav .flex-disabled{
    opacity: 0.5 !important;
}
.slider-multiple .carousel.flexslider .flex-direction-nav .flex-prev,
.slider-carousel .flex-direction-nav .flex-prev{
    margin-left: 30px;
}
.slider-multiple .carousel.flexslider .flex-direction-nav .flex-next,
.slider-carouse .flex-direction-nav .flex-next {
    margin-left: -10px;
}
.voir-tout {
    background: @theme !important;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-top: -30px;
    margin-right: 0;
    overflow: hidden;
    right: 0;
}
.voir-tout::before {
    color: #ffffff;
    content: "+";
    display: inline-block;
    font-size: 20px;
    height: 60px;
    margin-left: 24px;
    margin-top: 18px;
}
.voir-tout a {
    color: transparent;
}
.agenda {
    margin-top: 100px;
}
.agenda .results {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    margin-bottom: 50px;
    padding-left: 0;
    width: 100%;
}
.agenda .results ul {
    display: flex;
    justify-content: space-between;
}

//Agenda
.agenda .titre-rss,
.agenda .titre-rss a {
    float: none;
    background-color: transparent;
}
.agenda .bloc-rss {
    display: none;
}
.agenda .results ul .bloc-item {
    float: none;
    min-height: calc(155px);
    padding: 1.5em;
    width: 33%;
    float: none;
    margin-bottom: 0;
}
.agenda .results ul .bloc-item:nth-child(1),
.agenda .results ul .bloc-item:nth-child(2) {
    border-right: 1px solid #ccc;
}
.agenda .results ul .bloc-item .day-month {
    color: @theme;
    height: calc(@size-day-month + 10px);
    width: calc(@size-day-month + 10px);
    position: absolute;
    text-align: center;
    border: 5px dotted @theme;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
}
.agenda .results ul .bloc-item .month {
    font-size: 0.8em;
}
.agenda .results ul .bloc-item .day {
    font-size: 1.8em;
    margin-top: 0.2em;
}
.agenda .results ul .bloc-item h3,
.agenda .results ul .bloc-item .description {
    margin-left: calc(@size-day-month + 40px);
}
.agenda .results ul .bloc-item .documentByLine {
    display: none;
}
//Slider carousel
.flexslider{
    background: transparent;
}
.slider-carousel .flexslider:hover .flex-prev{
    left:0;
}
#slider-a-la-une.flexslider .flex-caption{
    box-sizing: border-box;
    height: 300px;
    margin-top:-300px;
    opacity: 1;
    padding: 2em;
    width: 25%;
}
#content #flex .flexslider a,
#content #flex .flexslider #content #flex a:hover,
#content #flex .flexslider a:link{
    color:@front !important;
}
#carousel-a-la-une{
    display: none;
}

// section-evenements subsection-agenda
// Recherche
#faceted-form #top-area {
    background: #f2f2f2;
}

#faceted-form input[type="text"] {
    background: #ffffff;
    border: none !important;
    border-radius: @border-radius-input;
    height: @input-height !important;
    padding-right: 0;
    width: 15em !important;
}
#faceted-form input.hasDatepicker {
    width: 7em !important;
}
#faceted-form .faceted-top-widgets {
    padding-right: 0 !important;
    padding: 2em;
}

#faceted-form #faceted-form fieldset {
    padding: 0 !important;
}
#faceted-form .widget-fieldset legend {
    float: left;
    font-weight: normal;
    font-size: 100% !important;
}
#faceted-form .section-public-cible,
#faceted-form .section-tarification {
    display: none !important;
}
#faceted-form .widget-fieldset form {
    display: flex;
}

#faceted-form .faceted_select {
    max-width: 20em !important;
    min-width: 15em !important;
}
#faceted-form .select2-container .select2-choice {
    border-top-left-radius: @border-radius-input;
    border-bottom-left-radius: @border-radius-input;
    background: @front !important;
    height: @input-height;
    border: none !important;
    line-height: @input-height;
    color: gray;
    padding: 0.2em 1em;
    font-size: 0.9em;
}
#faceted-form .select2-container .select2-choice .select2-arrow {
    background: @background;
    color: @front;
    border-left: none !important;
    text-align: center;
    width: @input-height;
}
#faceted-form .select2-container .select2-choice .select2-arrow b {
    background: @background;
}
#faceted-form .select2-container .select2-choice .select2-arrow b::before {
    content: "+";
    line-height: 40px;
}
#faceted-form .widget-fieldset li {
    display: flex !important;
    margin-left: 0em !important;
}
#faceted-form .widget-fieldset li label {
    padding: 0.4em 1em 0 0.5em;
}

#faceted-form .widget-fieldset.faceted-criteria a::before {
    background: @bg-nav-fac;
    color: #d7004e;
    content: "❌";
    height: 10px;
    padding: 0 0.5em 0 0.25em;
    position: relative;
    right: -1.4em;
    visibility: visible;
    width: 10px;
}
#faceted-form .widget-fieldset.faceted-criteria .faceted-criteria-reset a {
    visibility: visible;
}
// section-evenements subsection-agenda
// items
.section-evenements.subsection-agenda #faceted-results {
    padding-left: 0 !important;
}
.section-evenements.subsection-agenda .faceted-agenda-ungrouped-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.section-evenements.subsection-agenda .event-entry {
    margin-bottom: 1em;
    margin-right: 0;
    width: 49%;
    border: 1px solid #cccccc;
    position: relative;
}
.section-evenements.subsection-agenda .event-entry .pageleadImage {
    padding-bottom: 50% !important;
    width: 50% !important;
    margin-right: 0 !important;
}
.section-evenements.subsection-agenda .event-entry .pagecaption {
    width: 50% !important;
}
.section-evenements.subsection-agenda .event-entry .pagecaption h3 {
    margin-top: calc(@size-day-month + 20px);
    padding: 0.5em;
    font-size: 1.2em;
}
.section-evenements.subsection-agenda .event-entry .documentByLine {
    color: @theme;
    height: calc(@size-day-month);
    width: calc(@size-day-month);
    position: absolute;
    text-align: center;
    border: 5px dotted @theme;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    right: 0;
}
//icone
.icone-container {
    margin: 5em 0;
}
.icone-inner {
    display: inline-block;
    text-align: center;
    width: 20%;
}
.icone-inner:first-child,
.icone-inner:nth-child(2){
    padding-right: 6%;
}
.icone-inner:last-child {
    padding-left: 6%;
}
.icone-inner h3{
    color:@theme;
}

//zone multimedia
#multimediaviewlet::after {
    background: @slider-background;
    content: "";
    display: block;
    height: 50%;
    left: -50%;
    position: absolute;
    top: 36.4%;
    width: 200%;
    z-index: -1;
}
#multimediaviewlet{
    background: transparent;
    margin: 4em 0 0;
    position: relative;
}
.section-notheme #multimediaviewlet h2,
#multimediaviewlet h2{
    color:@black;
}
.albums-container {
    padding-left: 0;
    width: 50%;
}
.albums-container img {
    max-width: 100%;
}
.videos-container {
    margin-left: -17%;
    margin-top: 10%;
    padding-left: 0;
}
.videos-container > h2 {
    text-align: right;
}
.videos > li {
    width: 800px;
}
#multimediaviewlet .link-all::before {
    color: #ffffff;
    content: "+";
    display: inline-block;
    font-size: 20px;
    height: 60px;
    margin-left: 24px;
    margin-top: 18px;
}
#multimediaviewlet .link-all {
    background: @theme !important;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-top: 30px;
    margin-right: 0;
    overflow: hidden;
    right: 0;
}
#multimediaviewlet .albums-container .link-all {
    background: @voir-tout-black !important;
    right: 90%;
}
#portal-footer{
    margin: 1em 0 0 ;
}
#portal-footer a,
#portal-footer p{
    color: #969696;
}
#portal-footer-wrapper .row {
    background-color: @background;
    color: @front;
}
#footer-social {
    margin: 0 auto;
    max-width: 1200px;
}
#footer-social > div {
    margin: 0 auto;
    max-width: 33%;
}
#footer-social .social {
    display: inline-block;
    width: 20%;
}
#footer-social a {
    color: #fff;
    font-size: 150%;
}
// cette partie est à supprimer une fois que le format de date sera adapté
.section-evenements.subsection-agenda .event-entry .documentByLine span {
    display: none;
}
.section-evenements.subsection-agenda .event-entry .documentByLine span:nth-child(2) {
    display: block;
}
// la partie display: none est à adapter, je l'ai ajoutée car en local,
// je ne parvenais pas à limiter l'affichage à 3 éléments
.agenda .results ul .bloc-item {
    display: none !important;
}
.agenda .results ul .bloc-item:nth-child(1),
.agenda .results ul .bloc-item:nth-child(2),
.agenda .results ul .bloc-item:nth-child(3) {
   display: block !important;
}
.agenda .titre-rss{
    background: @nav-transparent;
}
.agenda .bloc-rss{
    display: none;
}
.agenda .titre h2{
    color: @black;
    padding-bottom: 1em;
    text-transform: uppercase;
}

// fin du bloc à supprimer
