#portal-header {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    z-index: inherit;
}
.main-homepage #top-banner img.banner{
    position: absolute;
}
#top-banner img.banner {
    max-height: @height-banner;
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.main-homepage #top-logo-slogan-actions {
    position: relative;
}
#top-logo-slogan-actions {
    color: @front;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 2;
}
#top-logo-slogan-actions-inner {
    background-color: @background;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}
#top-logo-slogan {
    display: flex;
    flex-flow: row nowrap;
    margin-top:-1em;
}
#top-logo {
    margin-left: 1em;
    position: relative;
    width: @width-logo;
}
#top-logo-inner {
    background-color: @front;
    height: 150px;
    position: absolute;
    width: @width-logo;
}
#portal-logo{
    margin:0;
}
#top-slogan {
    margin-left: 1em;
}
#top-slogan-inner h1 {
    color: @front;
    font-size: 1em;
    margin-bottom: 0px;
    text-transform: uppercase;
}
#top-actions {
    background-color: transparent;
    flex: 1 1 0;
}
.main-homepage #nav-wrapper {
    background-color: @nav-opaticy;
    margin-left: auto;
    margin-top: calc(166.667px);
    width: @width-content;
}
#nav-wrapper{
    background: #fff;
    margin-right: auto;
    margin-top:0;
}
#navWrapper {
    background-color: transparent !important;
}
.main-homepage #portal-breadcrumbs{
    margin-left: auto;
}
#portal-breadcrumbs {
    margin-left: calc(183px);
    margin-right: auto;
    width: @width-content;
}
.main-homepage #portal-globalnav{
    margin-left: 0;
}
#portal-globalnav {
    align-items: center;
    background-color: transparent;
    display: inline-block;
    justify-content: space-around;
    margin-left: calc(183px);
    padding: 1em;
    max-width: 100%;
}
#portal-globalnav li:hover{
    background: @theme;
}
#portal-globalnav li {
    display: inline-block;
    vertical-align: top;
    width: calc((100% / 3) - 1px);
}
.main-homepage #portal-globalnav li a,
#portal-globalnav li a:hover {
    color:@front;
}
#portal-globalnav li a {
    background-color: transparent;
    color:@black;
    display: inline-block;
    text-transform: uppercase;
    max-width: 75%;
}
#portal-globalnav #portaltab-index_html {
    display: none;
    position: relative;
}
#portal-globalnav #portaltab-index_html a {
    background: @nav-transparent;
    color: transparent;
    width: 100%;
}
.main-homepage #portal-globalnav .selected a,
#portal-globalnav .selected a:hover,
#portal-globalnav a:hover,
#portal-globalnav li:hover .selected a,
#portal-globalnav li:hover a.activated,
.main-homepage #portal-globalnav li a.activated {
    background:@nav-transparent !important;
    color: @front;
}
#portal-globalnav .selected a,
#portal-globalnav li a.activated{
    background:@nav-transparent !important;
    color:@black;
}
#portal-globalnav li a.activated:hover{
    color: @front !important;
}
.theme1::before {
    content: url("/images-spirit/communal.png");
    display: block;
    float: left;
}
.theme2::before {
    content: url("/images-spirit/vivre.png");
    display: block;
    float: left;
}
.theme3::before {
    content: url("/images-spirit/decouvrir.png");
    display: block;
    float: left;
}
.theme1,
.theme2,
.theme3{
    font-size: 130%;
}
#portal-globalnav .portal-tab-description {
    font-size: 80%;
    text-transform: lowercase;
}
/*   sub menu   */
ul.navTreeLevel0 {
    background: @nav-transparent;
    max-width: 100%;
}
ul.navTreeLevel0 li a{
    color: @front;
}
ul.navTreeLevel0 li.sfHover a{
    color: #333;
}
/*   top-actions   */
#top-actions-actions > div,
.top-menu-action{
    display: inline-block;
    vertical-align: top;
}
#social-viewlet,
#portal-personaltools-wrapper,
#portal-siteactions,
#portal-personaltools{
    float: none;
}

#search-wrapper {
    position: absolute;
    right: 0;
    top: 150px;
}
#hidden-search{
    float: left;
    margin-top: -1.3em;
}
.LSBox #searchGadget{
    height: 3.5em;
}
#btn-search{
    float: right;
}
.btn-search::before {
    content: "\e828";
    font-family: "fontello";
    font-size: 125%;
}
a.btn-search {
    background: @nav-opaticy;
    color: #fff;
    padding: 1.5em;
}
#portal-searchbox{
    margin: 0;
    position: relative;
    float: none;
    right: 0;
    top:0;
}
.portal-search-hidden,
.portal-search-hidden .LSBox #searchGadget{
    width: 0;
    overflow: hidden;
}
.portal-search-visible{
    overflow: visible;
    width: 80%;
    transition: 1s ease;
}
.portal-search-visible .LSBox #searchGadget{
    overflow: visible;
    transition: 1s ease;
}
.LSBox::after {
    content: "\e83c";
}
.LSBox input[type="text"]{
    background: #fff;
}
#portal-personaltools{
    font-size: 100%;
}
dl.actionMenu.activated dt a{
    margin:0 0.25em;
}
.top-menu-action dd a {
    line-height: 2em;
    padding: 0 0.75em;
    &:hover{background: lighten(@background,20%)}
}
.top-menu-action dd{
    background: @background;
    margin-right: 2em;
    margin-top: 3px;
    padding: 0.5em;
}
#portal-columns {
    margin-left: auto;
    margin-right: auto;
    max-width: @width-content;
    z-index: 1;
}
#portal-footer-wrapper .row {
    background-color: @background;
    color: @front;
}
// Bloc zoom par défaut
#accueil .bloc-document .zoom {
    float: left;
    position: relative;
    width: 50%;
}
#accueil .bloc-document .bloc {
    overflow: hidden;
    position: relative;
}
#accueil .bloc-document .zoom .img img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}
#accueil .bloc-document .zoom:first-child .bloc:first-child .img img {
    margin-top: 25%;
}
#accueil .bloc-document .zoom:first-child .bloc:nth-child(2) .img img {
    height: 50%;
    margin-left: 50%;
    max-width: 50%;
    width: 50%;
}
#accueil .bloc-document .zoom:nth-child(2) .bloc:first-child .img img {
    height: 50%;
    max-width: 50%;
    width: 50%;
}
#accueil .bloc-document .zoom .texte {
    color: #fff;
    padding: 3em;
    position: absolute;
}
#accueil .bloc-document .zoom:first-child .bloc:first-child .texte {
    margin-top: -100%;
}
#accueil .bloc-document .zoom:first-child .bloc:nth-child(2) .texte {
    bottom: 0;
    left: 50%;
}
#accueil .bloc-document .zoom:nth-child(2) .bloc:first-child .texte {
    bottom: 0;
}
#accueil .bloc-document .zoom:nth-child(2) .bloc:nth-child(2) .texte {
    right: 0;
    text-align: right;
    bottom: 0;
}
// bloc zoom-2
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:first-child .img img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:nth-child(2) .img img {
    height: 50%;
    max-width: 50%;
    width: 50%;
}
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:first-child .texte {
    right: 0;
    text-align: right;
    top: 0;
}
#accueil .bloc-document.zoom-2 .zoom:first-child .bloc:first-child .texte {
    bottom: 0;
}
#accueil .bloc-document.zoom-2 .zoom:first-child .bloc:nth-child(2) .texte {
    text-align: right;
    right: 0;
}
#accueil .bloc-document.zoom-2 .zoom:nth-child(2) .bloc:nth-child(2) .texte {
    text-align: right;
    right: 50%;
}
#accueil .bloc-document.zoom-2 .zoom .description {
    display: none !important;
}
// slider multiple
.slider-multiple #slider-actualites {
    display: none;
}
.slider-multiple .carousel.flexslider {
    background-color: #eaeaea;
    padding-bottom: 50px;
}
.slider-multiple .carousel.flexslider ul > li {
    background: #fff;
    color: #000;
}
.slider-multiple .carousel.flexslider ul > li > a {
    max-height: 200px;
    overflow: hidden;
}
#content #flex .flexslider a,
#content #flex .flexslider #content #flex a:hover,
#content #flex .flexslider a:link {
    color: #000 !important;
}
.slider-multiple .carousel.flexslider .flex-caption {
    margin-bottom: 2em;
}
.slider-multiple .carousel.flexslider ul > li .publication-date {
    padding: 0.5em;
}
.slider-multiple .carousel.flexslider ul > li .flex-caption > h2 {
    font-size: 1em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.slider-multiple .carousel.flexslider ul > li .read-next-link {
    display: none;
}
.slider-multiple .carousel.flexslider .flex-direction-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.slider-multiple .carousel.flexslider .flex-direction-nav li {
    background: #000000 !important;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 1em;
    overflow: hidden;
}
.slider-multiple .carousel.flexslider .flex-direction-nav a {
    display: block;
    overflow: visible;
    margin: 0;
}
.slider-multiple .carousel.flexslider .flex-direction-nav li a {
    color: transparent !important;
    padding-top: 5px !important;
}
.slider-multiple .carousel.flexslider .flex-direction-nav a {
    opacity: 1;
    position: relative;
    transition: none;
    right: 0;
    left: 0;
    top: 0;
}
.slider-multiple .carousel.flexslider .flex-direction-nav a::before {
    color: #fff;
    height: 60px !important;
    margin-top: 15px;
    font-size: 15px;
}
.slider-multiple .carousel.flexslider .flex-direction-nav .flex-disabled {
    opacity: 0.5 !important;
}
.slider-multiple .carousel.flexslider .flex-direction-nav .flex-prev {
    margin-left: 30px;
}
.slider-multiple .carousel.flexslider .flex-direction-nav .flex-next {
    margin-left: -10px;
}
.voir-tout {
    background: @theme !important;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-top: -30px;
    margin-right: 0;
    overflow: hidden;
    right: 0;
}
.voir-tout::before {
    color: #ffffff;
    content: "+";
    display: inline-block;
    font-size: 20px;
    height: 60px;
    margin-left: 24px;
    margin-top: 18px;
}
.voir-tout a {
    color: transparent;
}
.agenda {
    margin-top: 100px;
}
.agenda .results {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    float: none;
    margin-bottom: 50px;
    padding-left: 0;
    width: 100%;
}
.agenda .results ul {
    display: flex;
    justify-content: space-between;
}

//Agenda
.agenda .results ul .bloc-item {
    float: none;
    min-height: 0;
    padding: 1.5em;
    width: auto;
    float: none;
    margin-bottom: 0;
}
.agenda .results ul .bloc-item:nth-child(1),
.agenda .results ul .bloc-item:nth-child(2) {
    border-right: 1px solid #ccc;
}
.agenda .results ul .bloc-item .day-month {
    color: @theme;
    height: calc(@size-day-month + 10px);
    width: calc(@size-day-month + 10px);
    position: absolute;
    text-align: center;
    border: 5px dotted @theme;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
}
.agenda .results ul .bloc-item .month {
    font-size: 0.8em;
}
.agenda .results ul .bloc-item .day {
    font-size: 1.8em;
    margin-top: 0.2em;
}
.agenda .results ul .bloc-item h3,
.agenda .results ul .bloc-item .description {
    margin-left: calc(@size-day-month + 40px);
}
.agenda .results ul .bloc-item .documentByLine {
    display: none;
}
// section-evenements subsection-agenda
// Recherche
.section-evenements.subsection-agenda #top-area {
    background: #f2f2f2;
}
.section-evenements.subsection-agenda #c3_widget {
    display: block !important;
}
.section-evenements.subsection-agenda input[type="text"] {
    background: #ffffff;
    border: none !important;
    border-radius: @border-radius-input;
    height: @input-height !important;
    padding-right: 0;
    width: 15em !important;
}
.section-evenements.subsection-agenda input.hasDatepicker {
    width: 7em !important;
}
.section-evenements.subsection-agenda .faceted-top-widgets {
    padding-right: 0 !important;
    padding: 2em;
}
.section-evenements.subsection-agenda .faceted-top-widgets .faceted-widget:last-child {
    margin-bottom: 2em;
}
.section-evenements.subsection-agenda #faceted-form fieldset {
    padding: 0 !important;
}
.section-evenements.subsection-agenda .widget-fieldset legend {
    float: left;
    font-weight: normal;
    font-size: 100% !important;
}
.section-evenements.subsection-agenda .section-public-cible,
.section-evenements.subsection-agenda .section-tarification {
    display: none !important;
}
.section-evenements.subsection-agenda .widget-fieldset form {
    display: flex;
}
.section-evenements.subsection-agenda .section-affichage {
    width: 100%;
    white-space: nowrap;
}
.section-evenements.subsection-agenda .faceted_select {
    max-width: 20em !important;
    min-width: 15em !important;
}
.section-evenements.subsection-agenda #faceted-form .select2-container .select2-choice {
    border-top-left-radius: @border-radius-input;
    border-bottom-left-radius: @border-radius-input;
    background: @front !important;
    height: @input-height;
    border: none !important;
    line-height: @input-height;
    color: gray;
    padding: 0.2em 1em;
    font-size: 0.9em;
}
.section-evenements.subsection-agenda .select2-container .select2-choice .select2-arrow {
    background: @background;
    color: @front;
    border-left: none !important;
    text-align: center;
    width: @input-height;
}
.section-evenements.subsection-agenda .select2-container .select2-choice .select2-arrow b {
    background: @background;
}
.section-evenements.subsection-agenda .select2-container .select2-choice .select2-arrow b::before {
    content: "+";
    line-height: 40px;
}
.section-evenements.subsection-agenda .widget-fieldset li {
    display: flex !important;
    margin-left: 0em !important;
}
.section-evenements.subsection-agenda .widget-fieldset li label {
    padding: 0.4em 1em 0 0.5em;
}
.section-evenements.subsection-agenda .widget-fieldset.faceted-criteria legend {
    float: none;
}
.section-evenements.subsection-agenda .widget-fieldset.faceted-criteria a {
    visibility: hidden;
}
.section-evenements.subsection-agenda .widget-fieldset.faceted-criteria a::after {
    color: @theme;
    content: "❌";
    height: 10px;
    visibility: visible;
    width: 10px;
}
.section-evenements.subsection-agenda .widget-fieldset.faceted-criteria .faceted-criteria-reset a {
    visibility: visible;
}
